<div class="table">
  <div class="table-cell logo">
    <a href="/"><img src="/assets/images/krw-logo.png" alt="Keep Ruby Weird Logo"></a>
  </div>

  <div class="table-cell">
    <h1>Welcome To Keep Ruby Weird!</h1>
    <h3>Save the Date: November 9, 2018</h3>
    <p>This is the electronic web front for the best daylong conference in Austin celebrating (figurative) hugs, rock paper scissor, magic, singing, & dancing!</p>
    <p>Oh, ruby too.</p>
    <p>
      <img src="/assets/images/sold-out.png" alt="Sold Out" width="293px">
      <br/><a href="https://ti.to/keep-ruby-weird/2018-going-out-of-business-edition" class="button">Join the Waiting List</a>
    </p>
  </div>
</div>

<div class="table table--with-table-row speakers">
  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/tenderlove.png" alt="Aaron Patterson" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Aaron Patterson</h1>
      <h3>Master of Ceremonies</h3>
      <p>Aaron is on the Ruby core team, the Rails core team, and the team that takes
        care of his cat, Gorby puff.  During the day he works for a small technology
        company called GitHub.  Someday he will find the perfect safety gear to
        wear while extreme programming.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Avdi Grimm</h1>
      <h3>Keynote</h3>
      <p>Avdi Grimm is a father, a Ruby Hero, the head chef at RubyTapas.com, and author of the books Confident Ruby and Exceptional Ruby. He splits his theoretical spare time between hiking the Smoky Mountains and dancing to oontz-oontz music.</p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/avdi.jpg" alt="Avdi Grimm" width="293px"></a>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/mystery.png" alt="Mystery Guest" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Mystery Guest</h1>
      <h3>Mystery Keynote</h3>
      <p>Joining us for the first time ever we would like to welcome  █████████████. The ██████████████ is a prolific █████████████████████. This speaker has spent █████████ while ██████████. We know you'll be excited to hear about █████████████, this is one talk you won't want to ████.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Yusuke Endoh</h1>
      <h3>Transcendental Programming in Ruby</h3>
      <p><code>'A MRI committer at Cookpad Inc. He is an advocate of "transcendental programming" that creates a useless program like this bio (^_^)'.sub(?^){eval$_=%q{puts"'#$`^_#$''.sub(?^){eval$_=%q{#$_}}"}}</code></p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/mame.jpg" alt="Yusuke Endoh" width="293px"></a>
    </div>
  </div>
</div>

<div class="table">
    <div class="table-cell">
      <img src="/assets/images/spinning-globe.gif" alt="spinning globe"/>
      <h3>We'll be at the</h3>
      <h2>Alamo Drafthouse Ritz</h2>
      <p><a href="https://goo.gl/maps/xGrckMPTNcF2">320 E 6th St. Austin TX</a></p>
      <p>The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.<p>
    </div>

    <div class="table-cell">
      <img src="/assets/images/ritz.jpg" alt="Alamo Drafthouse Ritz" style="max-width:500px">
    </div>
</div>

<div class="table buy">
    <div class="table-cell table-cell--full">
      <h1>Get your ticket today before they dance out!</h1>
      <p>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
      </p>
      <p>
        Cost per ticket:
        <br/><strike>$55555</strike> Now $105.55
        <br/><a href="https://ti.to/keep-ruby-weird/2018-going-out-of-business-edition" class="button">Buy Your Ticket</a>
      </p>
  </div>
</div>

<div class="table past-talks">

  <div class="table-cell">
    <h2>See Our Past Talks</h2>
    <h3>2014 • 2015 • 2016 • 2017</h3>
    <p>We love spreading the love. That’s why we record and publish all the amazing talks that have been given at KRW. <a href="http://confreaks.tv/conferences/keep-ruby-weird">Dive into our libary of 33 videos.</a></p>
  </div>

  <div class="table-cell">
    <img src="/assets/images/kick-it.gif" alt="Kick it on web animation">
  </div>
</div>
