<div class="table">
  <div class="table-cell logo">
    <a href="/"><img src="/assets/images/krw-logo.png" alt="Keep Ruby Weird Logo"></a>
  </div>

  <div class="table-cell">
    <h1>Welcome To Keep Ruby Weird!</h1>
    <h3>Save the Date: November 9, 2018</h3>
    <p>This is the electronic web front for the best daylong conference in Austin celebrating (figurative) hugs, rock paper scissor, magic, singing, & dancing!</p>
    <p>Oh, ruby too.</p>
    <p>
      <img src="/assets/images/sold-out.png" alt="Sold Out" width="293px">
      <br/><a href="https://ti.to/keep-ruby-weird/2018-going-out-of-business-edition" class="button">Join the Waiting List</a>
    </p>
  </div>
</div>

<div class="table table--with-table-row speakers">
  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/tenderlove.png" alt="Aaron Patterson" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Aaron Patterson</h1>
      <h3>Master of Ceremonies</h3>
      <p>Aaron is on the Ruby core team, the Rails core team, and the team that takes
        care of his cat, Gorby puff.  During the day he works for a small technology
        company called GitHub.  Someday he will find the perfect safety gear to
        wear while extreme programming.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Avdi Grimm</h1>
      <h3>Keynote</h3>
      <p>Avdi Grimm is a father, a Ruby Hero, the head chef at RubyTapas.com, and author of the books Confident Ruby and Exceptional Ruby. He splits his theoretical spare time between hiking the Smoky Mountains and dancing to oontz-oontz music.</p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/avdi.jpg" alt="Avdi Grimm" width="293px"></a>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/mystery.png" alt="Mystery Guest" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Mystery Guest</h1>
      <h3>Mystery Talk</h3>
      <p>Joining us for the first time ever we would like to welcome  █████████████. The ██████████████ is a prolific █████████████████████. This speaker has spent █████████ while ██████████. We know you'll be excited to hear about █████████████, this is one talk you won't want to ████.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Yusuke Endoh</h1>
      <h3>Transcendental Programming in Ruby</h3>
      <p><code>'A MRI committer at Cookpad Inc. He is an advocate of "transcendental programming" that creates a useless program like this bio (^_^)'.sub(?^){eval$_=%q{puts"'#$`^_#$''.sub(?^){eval$_=%q{#$_}}"}}</code></p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/mame.jpg" alt="Yusuke Endoh" width="293px"></a>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/beth.jpg" alt="Beth Haubert" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Beth Haubert</h1>
      <h3>Cats, The Musical! Algorithmic Song Meow-ification</h3>
      <p style="font-size: 0.9em">Beth is a software engineer at Flywheel, a web infrastructure startup in Omaha, Nebraska. She’s also a former airborne cryptologic linguist for the US Air Force, fluent in Mandarin. Things you can ask her about include Ruby, cats, board games, BSG, karaoke, and building applications that convert songs into auto-tuned cat meows. Things she’ll have to kill you if you ask her about: the airborne linguist part. Also, she likes to make emojis look like they’re farting. 🐈💨</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Nathan Ladd</h1>
      <h3>Distributed Fizz Buzz: Passing the Microservices Interview</h3>
      <p>Nathan Ladd has flowing locks of dark splendor and will unashamedly exploit your susceptibility for attributing credibility to people merely because they are tall. Nathan is a contributor to the Eventide toolkit for event-sourced, autonomous services in Ruby.</p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/nathan.jpg" alt="Nathan Ladd" width="293px"></a>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/scott.jpg" alt="Scott Bellware" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Scott Bellware</h1>
      <h3>Distributed Fizz Buzz: Passing the Microservices Interview</h3>
      <p>Scott Bellware is a short, bald man with 25 years of experience who works with development teams who have completely screwed themselves into an intractable mess of tightly-coupled monolithic madness by paying attention to cute people rather than smart people. Scott is a contributor to the Eventide toolkit for event-sourced, autonomous services in Ruby, but Scott does it better than Nathan, and he’s totally not bitter.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Louisa Barrett</h1>
      <h3>The Teenage Mutant Ninja Turtles Guide to Color Theory</h3>
      <p style="font-size: 0.9em">Louisa is the Director of the Front-End Engineering program at the Turing School of Software and Design. She is the former director of Colorado for Women Who Code and past chapter leader for Girl Develop It Denver/Boulder. She began her career as an illustrator/graphic designer, and a passion for understanding people lead her to programming. She has a soft spot for UX, typography, and correcting students when they refer to an assignment operator as an ‘equals sign’.</p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/louisa.jpg" alt="Louisa Barrett" width="293px"></a>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/andrew.jpg" alt="Andrew Louis" width="293px"></a>
    </div>

    <div class="table-cell">
      <h1>Andrew Louis</h1>
      <h3>Using Ruby to build a modern Memex!</h3>
      <p style="font-size: 0.9em">Andrew is a software developer based in Toronto. He’s currently working on building a digital Memex as well as researching the history of similar projects. Previously, he was the co-founder and CTO of ShopLocket, an ecommerce startup acquired in 2014. When he’s not coding, he spends his time on obsessive projects such as attempting to bike on every street in Toronto, taking photos of only doors (instagram: @hyfen), and making voxel art.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell">
      <h1>Will Leinweber</h1>
      <h3><code>\watching</code> Star Wars in Postgres and other silly things</h3>
      <p style="font-size: 0.9em">Will doesn’t really want to think about how long he’s been working with Postgres. He is currently working on horizontally scalable Postgres at Citus Data, and before that was a principal member of the Heroku Postgres team. Please don’t try to right-click and steal the source for his WebSite bitfission.com.</p>
    </div>

    <div class="table-cell logo">
      <a href="/"><img src="/assets/images/will.jpg" alt="Will Leinweber" width="293px"></a>
    </div>
  </div>
</div>

<div class="table table--with-table-row">
  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>9:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Second Breakfast</h3>
      <p>registration, coffee, tacos</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>10:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Opening Remarks</h3>
      <p>Let's get this party started!</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>10:14</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Mystery Talk</h3>
      <p>Nope, still won't tell you.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>11:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Break</h3>
      <p>Icebreakers with @schneems!</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>11:29</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Nathan Ladd & Scott Bellware</h3>
      <p>Distributed Fizz Buzz: Passing the Microservices Interview</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>12:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Louisa Barrett</h3>
      <p>The Teenage Mutant Ninja Turtles Guide to Color Theory</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>12:30</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Luncheon</h3>
      <p>Well, technically Luncheon starts at 1pm, but I'm sure you're hungry.</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>2:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Will Leinweber</h3>
      <p><code>\watching</code> Star Wars in Postgres and other silly things</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>2:29</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Beth Haubert</h3>
      <p>Cats, The Musical! Algorithmic Song Meow-ification</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>3:02</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Break</h3>
      <p>Your Fitbit just buzzed</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>3:30</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Andrew Louis</h3>
      <p>Using Ruby to build a modern Memex!</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>4:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Yusuke Endoh</h3>
      <p>Transcendental Programming in Ruby</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>4:30</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Friday Hugs!</h3>
      <p>OMG It's Friday!!!!</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>5:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Avdi Grimm</h3>
      <p>Keynote</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>5:45</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Closing Remarks</h3>
      <p>Closing time and the final goodbye :'(</p>
    </div>
  </div>

  <div class="table-row">
    <div class="table-cell schedule-time">
      <h3>7:00</h3>
    </div>

    <div class="table-cell schedule-body">
      <h3>Party @ <a href="https://goo.gl/maps/JLX4JpJaxCt">Zilker Brewing Co. and Taproom</a></h3>
      <p>Socialization Practices</>
    </div>
  </div>
</div>

<div class="table">
    <div class="table-cell">
      <img src="/assets/images/spinning-globe.gif" alt="spinning globe"/>
      <h3>We'll be at the</h3>
      <h2>Alamo Drafthouse Ritz</h2>
      <p><a href="https://goo.gl/maps/xGrckMPTNcF2">320 E 6th St. Austin TX</a></p>
      <p>The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.<p>
    </div>

    <div class="table-cell">
      <img src="/assets/images/ritz.jpg" alt="Alamo Drafthouse Ritz" style="max-width:500px">
    </div>
</div>

<div class="table buy">
    <div class="table-cell table-cell--full">
      <h1>Too late, those tickets have danced out!</h1>
      <p>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
        <img src="/assets/images/gif-5.gif" alt="man dancing"/>
      </p>
      <p>
        <a href="https://ti.to/keep-ruby-weird/2018-going-out-of-business-edition" class="button">Join the Waiting List</a>
      </p>
  </div>
</div>

<div class="table past-talks">

  <div class="table-cell">
    <h2>See Our Past Talks</h2>
    <h3>2014 • 2015 • 2016 • 2017</h3>
    <p>We love spreading the love. That’s why we record and publish all the amazing talks that have been given at KRW. <a href="http://confreaks.tv/conferences/keep-ruby-weird">Dive into our libary of 33 videos.</a></p>
  </div>

  <div class="table-cell">
    <img src="/assets/images/kick-it.gif" alt="Kick it on web animation">
  </div>
</div>
