<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Keep Ruby Weird 2018 - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="The best daylong conference in Austin celebrating (figurative) hugs, magic, singing, & dancing! Oh, ruby too.">
    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body>

    <div class="marquee">
      <div class="">
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      <p>Returning for 2018!</p>
      </div>
    </div>

    <div class="table">
      <div class="table-cell logo">
        <a href="/"><img src="/assets/images/krw-logo.png" alt="Keep Ruby Weird Logo"></a>
      </div>

      <div class="content">
        {{ content }}
      </div>
    </div>

    <footer>
      <div class="counter">
      </div>


          <ul>
            <li>
              <a href="mailto:organizers@keeprubyweird.com">Email us</a>
            </li>
            <li>
              <a href="https://www.papercall.io/krw-2018">CFP</a>
            </li>
            <li>
              <a href="/conduct">Code of Conduct</a>
            </li>
            <li>
              <a href="/mailing">Mailing List</a>
            </li>
            <li>
              <a href="mailto:organizers@keeprubyweird.com">Sponsor us!</a>
            </li>
            <li>
              <a href="https://twitter.com/keeprubyweird">See tweeting</a>
            </li>
          </ul>
        </footer>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52147844-1', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['keeprubyweird.com', 'www.keeprubyweird.com', '2017.keeprubyweird.com', 'ti.to']);
    ga('send', 'pageview');
    !function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
      a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
      t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
      s.parentNode.insertBefore(t,s))}(window,document,'script');
      twq('init','nv5hb');
      twq('track','PageView');
    </script>
  </body>
</html>
